<div class="comment">
	<div class="comment_head">
		<span class="comment_guy">
		by    <%= User.find(comment.user_id).name %>,
		</span>
		<span class="comment_time">
		    <%zone = ActiveSupport::TimeZone.new("Beijing")%>
		    <%= comment.created_at.in_time_zone(zone).to_formatted_s(:long_ordinal)  %>
		</span>
		<% if current_user && current_user.id == comment.user_id %>
  		| <%= link_to 'edit', edit_event_comment_path(comment.event, comment) %>
		<% end %>
	</div>
	<div class="comment_body">
		<%= markdown(comment.content) %>
	</div>
<% if current_user %>
  <%= link_to "Reply", new_comment_path(:event_id => comment.event.id, :parent_id => comment.id) %> 
<% end %>
</div>
