<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= msg %>
  </div>
<% end %>
<hr>
<div id="user_edit">
  <%= simple_form_for @user do |f| %>
    <%= f.input :name, :required => false %>
    <%= f.input :email, :required => false %>
    <%= f.input :url, :required => false %>
    <%= f.input :bio, :required => false %>
    <%= f.button :submit, :value => "Save Change", :class => "btn btn-large btn-success" %>
  <% end %>
  <%= image_tag avatar_url(@user), :size => "48x48" %>
  <%= link_to "Change your avatar at Gravatar.com.", "http://gravatar.com" %>  
  We are using <%= @user.email %>
</div>
