<div id="login_form">
  <div id="login_form_head">
    Login  
    <span id="login_form_head_sub">(Don't have a account yet?  <a href="/sign_up">Sign Up</a> )</sapn>
  </div>

  <div id="login_form_body">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <%= msg %>
      </div>
    <% end %>
    <%= form_tag "/user_auth" do %>  
      <div class="input-prepend">
        <div class="username">Username</div> 
        <%= text_field_tag :name, params[:name] %>  
      </div>
      <div class="input-prepend">
        <div class="password">
          Password <%= link_to "(forget password?)", forget_password_path %>
        </div> 
        <%= password_field_tag :password,params[:password] %>  
      </div>
      <div class="login_btn"><%= submit_tag("login", :class => "btn btn-info") %></div>  
    <% end %>  
  </div>

</div>
