<h1>Sign Up</h1>  
  
<%= simple_form_for @user do |f| %>  
    <%= f.input :name %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :email %>
    <%= f.button :submit %>
<% end %>  
