<div id="user_show">
  <h2 class="profile">Profile:</h2>
  <%= image_tag avatar_url(@user), :size => "48x48" %>
  <%= link_to "Change your avatar at Gravatar.com.", "http://gravatar.com" %>  We are using <%= @user.email %>

  <div class="profile">
    Name: <%= @user.name %>
    <br \>
    Email: <%= @user.email %>
    <br \>
    <% if @user != nil && current_user != nil %>
      <% if @user.id == current_user.id %>
          <%= link_to "edit", edit_user_path(@user)%>
      <% end %>
    <% end %>
  </div>

  <% if current_user %>  
    <div id="admin_zone">
      <% @user= User.find(current_user.id) %>
      <% if @user.name == "happypeter"%>
          <%= link_to 'Post a New Event', new_event_path %>
          |
          <%= link_to 'Mail to All Members', "/new_mail" %>
      <%end%>
    </div>
  <%end%>

  <h2 class="comments">Comments:</h2>

  <% @user.comments.reverse.each do |comment| %>
          <div class="comment">
              <div class="comment_head">
                  <span class="comment_time">
                      <%zone = ActiveSupport::TimeZone.new("Beijing")%>
                      <%= comment.created_at.in_time_zone(zone).to_formatted_s(:long_ordinal)  %>
                  </span>
                  <span class="comment_parent">
                      <% @parent=Event.find(comment.event_id) %>
                      on:
                      <a href="/events/<%= @parent.id %>">
                          <%= @parent.name %>
                      </a>
                  </span>
              </div>
              <div class="comment_body">
                  <%= markdown(comment.content) %>
              </div>
          </div>
  <%end%>
</div><!-- user_show -->
