<div id="user_show">

<div class="row-fluid profile">
  <div class="span2">
    <a href="http://gravatar.com">
      <%= image_tag avatar_url(@user), :size => "120x120" %>
    </a>
  </div>

  <div class="span7">
    <div id="user_name">
      <%= @user.name %>
    </div>
    <div id="user_email">
      <%= @user.email %>
   </div>
    <% if @user.bio.present? %>
      <div id="user_bio">
        <%= @user.bio %> 
      </div>
    <% end %>
    <% if @user.url.present? %>
      <a href="<%= @user.url %>"> <%= @user.url %></a> 
    <% end %>
  </div>

  <div class="span3 edit_profile_btn">
    <% if current_user && current_user.name == @user.name %>  
      <a class="btn" href="/account">Edit Your Profile</a>
    <% end %>
  </div>
</div>


  <% if current_user && current_user.name == "happypeter" && @user.name == "happypeter" %>  
    <div id="admin_zone">
      <%= link_to 'Post a New Event', new_event_path %>
      |
      <%= link_to 'Mail to All Members', "/new_mail" %>
    </div>
  <%end%>

  <h2 class="comments">Comments:</h2>

  <% @user.comments.reverse.each do |comment| %>
          <div class="comment">
              <div class="comment_head">
                  <span class="comment_time">
                      <%zone = ActiveSupport::TimeZone.new("Beijing")%>
                      <%= comment.created_at.in_time_zone(zone).to_formatted_s(:long_ordinal)  %>
                  </span>
                  <span class="comment_parent">
                      <% @parent=Event.find(comment.event_id) %>
                      on:
                      <a href="/events/<%= @parent.id %>">
                          <%= @parent.name %>
                      </a>
                  </span>
              </div>
              <div class="comment_body">
                  <%= markdown(comment.content) %>
              </div>
          </div>
  <%end%>
</div><!-- user_show -->
