<div id="user_show">
<div class="row-fluid profile">
  <div class="span2">
    <a href="http://gravatar.com">
      <%= image_tag avatar_url(@user),:alt => "Your Image", :size => "120x120"%>
    </a>
  </div>

  <div class="span7 main_info">
    <div id="user_name">
      <%= @user.name %>
    </div>
    <div id="user_email">
      <%= @user.email %>
   </div>
    <% if @user.bio.present? %>
      <div id="user_bio">
        <%= @user.bio %> 
      </div>
    <% end %>
    <% if @user.url.present? %>
      <a href="<%= @user.url %>"> <%= @user.url %></a> 
    <% end %>
  </div>

  <div class="span3 edit_profile_btn">
    <% if current_user && current_user.name == @user.name %>  
      <a class="btn" href="/account">Edit Your Profile</a>
       <%= link_to "Post a Blog", new_post_path(:user_id => current_user.id), :class=> "btn" %>
    <% end %>
  <% if current_user && current_user.name == "happypeter" && @user.name == "happypeter" %>  
    <div id="admin_zone">
      <%= link_to 'Post a New Event', new_event_path, :class => "btn btn-danger"%>
      <%= link_to 'Mail to All Members', "/new_mail", :class => "btn btn-success" %>
    </div>
  <%end%>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h2 class="comments">Comments:</h2>
    <%= render @user.comments.reverse %>
  </div>
  <div class="span6 posts">
    <h2 class="posts">Posts:</h2>
    <% @user.posts.reverse.each do |post| %>
      <%= link_to post.title, post_path(post), :class => "title" %>
      <div class="who_when"><%= post.user.name %> on <%= post.created_at.to_date %></div>
    <% end %>
  </div>
</div><!-- user_show -->


<script type="text/javascript" charset="utf-8">
  $('img').tooltip({placement: 'bottom', title: "Change your avatar at gravatar.com"})
</script>
