<div class="event">
  <div class="event_title">
    <%= event.name %>
  </div>
  <div class="event_time_location">
    When:<%= event.time.to_formatted_s(:time) %>
    <%= event.time.to_formatted_s(:weekday) %>
    (<%= event.time.to_formatted_s(:day_month_year) %>)
    <br /> 
    Where:
    <%= link_to @event.location, "/location.html" %>
    <% if current_user %>  <%# only myself can edit%>
      <% @user= User.find(current_user.id) %>
      <% if @user.name == "happypeter"%>
        <div class="edit_button">
          <%= link_to 'Edit', edit_event_path(event) %> 
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="event_content">
    <%= raw event.content %>
  </div>
</div>

