<%= simple_form_for @event do |f| %>  
  <%= f.input :name, :required => false %>
  <%= f.input :location, :required => false  %>
  <%= f.input :content, :required => false  %>
  <%= f.input :time, :required => false, :default => Event.last.time + 7.days %>
  <div id="create_event_btn">
    <%= f.button :submit, :class => "btn btn-large btn-success" %>
  </div>
<% end %>  

