<div class="meetup_namecard">
  <div class="meetup_namecard_head">
   #<%= meetup_namecard.id %>
   <%= meetup_namecard.name %>

  </div>
  <div class="meetup_namecard_body">
    <div class="meetup_namecard_body_right">
      <%= image_tag "http://media.happyec.org/events/#{meetup_namecard.id}.jpg" %>
    </div>
<%= truncate_html(meetup_namecard.content) %>

<%= link_to "read more", meetup_namecard %>

  
  </div>
</div>

