<h1>Events</h1>


<div class="events">
<% @events.each do |event| %>
    <%= event.name %>
    TIME:<%= event.time %>
<% end %>
</table>

</div>

<div class="comments">
<% Comment.all.each do |comment| %>

<%= comment.event_id %><br \>
<%= comment.user_id %><br>
<%= comment.content %><br>
<%= link_to 'Edit', edit_comment_path(comment) %><br>

<% end %>
</div>
<%= link_to 'New Event', new_event_path %>
