<% if not current_user %>  
  <div id="stranger_tease">
    <div class="hero">
    <span class="num">23</span> people tweeting <span class="num">34</span> comments
    </div>
    <div class="ec_logo">
      <%= image_tag("ec_logo.png") %> 
    </div>

    <div class="tagline">
    We are a group of students in <a href="http://www.heuet.net.cn/english/"><i>Hebei
    University of Economics and Business</i></a>, we currently meet each sunday
    afternoon at Bookbar Cafe<a href="/location.html">(<i>click to see map here</i>)</a> to practice our
    English and have fun! Feel free to join us.
      <div class="signup">
        <a class="btn btn-success" href="/sign_up"> Sign Up</a>
      </div>
    </div>
  </div>
<%end%>

<% if current_user %>  
	<% @user= User.find(current_user.id) %>
	<% if @user.name == "happypeter"%>
		<%= link_to 'Post a New Event', new_event_path %>
        <br \>
		<%= link_to 'Mail to All Members', "/new_mail" %>
	<%end%>
<%end%>



<% @events.reverse.each do |event| %>
  <% if Time.now.utc < event.time %> <%# only show the events upcoming and running %>
    <div class="next_meetup">
      <div class="tab_title">Next Meetup</div>
      <div class="event">
        <div class="event_time">
         <b>When:</b> 
		<%= event.time.to_formatted_s(:time) %>
		<%= event.time.to_formatted_s(:weekday) %>
		<span class="event_time">(<%= event.time.to_formatted_s(:day_month_year) %>)</span>
        </div>
        <div class="event_location">
         <b>Where:</b> 
         <%= link_to  event.location, "/location.html" %>
        </div>
        <div class="event_name">
         <b>Topic:</b>
           <a href="/events/<%= event.id %>">
             <%= event.name %>
           </a>
        </div>
        <div class="event_content">
         <%= raw event.content %>
        </div>
        <% if current_user %>  <%# only myself can edit%>
          <% @user= User.find(current_user.id) %>
          <% if @user.name == "happypeter"%>
            <%= link_to 'Edit', edit_event_path(event) %> 
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %> 
<div class="past_meetups">
  <div class="tab_title">
    Past Meetups
  </div>
  <div class="event">
    <% @events.reverse.each do |event| %>
      <% if Time.now.utc > event.time %> <%# only show the events past %>
        <div class="event_name">
           <a href="/events/<%= event.id %>">
              <span class="event_time"><%= event.time.to_formatted_s(:day_month_year) %> >></span> <%= event.name %>
           </a>
       </div>
      <% end %> 
    <% end %>
  </div>
</div>
<div class="recent_comments">
  <div class="tab_title"> 
    Recent Comments
  </div>
    <div class="comments">
        <% Comment.find(:all, :order => "id desc", :limit => 5).each do |comment| %>
            <div class="comment">
                <div class="comment_head">
                    <span class="comment_guy">
                        by
                        <a href="/users/<%= User.find(comment.user_id).id %>">    
                            <%= User.find(comment.user_id).name %>
                        </a>
                        ,
                    </span>
                    <span class="comment_time">
                        <%zone = ActiveSupport::TimeZone.new("Beijing")%>
                        <%= comment.created_at.in_time_zone(zone).to_formatted_s(:long_ordinal)  %>
                    </span>
                    <span class="comment_parent">
                        <% @parent=Event.find(comment.event_id) %>
                        on:
                        <a href="/events/<%= @parent.id %>">
                            <%= @parent.name %>
                        </a>
                    </span>
                </div> <%# class="comment_head" %>
                <div class="comment_body">
                    <%# need the "h" to escape <> %>
                    <%= markdown( h comment.content) %>
                </div>
            </div><%# .comment%>
        <% end %>
    </div><%# .comments %>
  </div>
</div>

