<h1>Events</h1>
<%= link_to 'Post a New Event', new_event_path %>

<% @events.each do |event| %>
<div class="event">
    
  <div class="eventname">
    <%= event.name %>
  </div>
    <%zone = ActiveSupport::TimeZone.new("Beijing")%>
    <%= event.time.in_time_zone(zone).to_formatted_s(:long_ordinal) %>
</div>
    <br \>
<% end %>


<h1>latest comments</h1>
<% Comment.all.each do |comment| %>
<div class="comment">
<%= comment.content %><br>
<%= link_to 'Edit', edit_comment_path(comment) %><br>
</div>
<br />
<% end %>
