<h1>Events</h1>
<%= link_to 'Post a New Event', new_event_path %>

<% @events.each do |event| %>
<div class="event">
    <%= event.name %>
    <%zone = ActiveSupport::TimeZone.new("Beijing")%>
    Beijing TIME:<%= event.time.in_time_zone(zone) %>
    <br>
    Utc time:<%=event.time%> 
</div>
    <br \>
<% end %>


<h1>latest comments</h1>
<% Comment.all.each do |comment| %>
<div class="comment">
<%= comment.content %><br>
<%= link_to 'Edit', edit_comment_path(comment) %><br>
</div>
<br />
<% end %>
