<% if not current_user %>  
  <div id="stranger_tease">
    <div id="hero">
    <strong><%= User.all.count %></strong> people,  <strong><%= Comment.all.count %></strong> comments
    </div>
    <div id="below_hero">
      We are a group of students in <a href="http://www.heuet.net.cn/english/"><i>Hebei
      University of Economics and Business</i></a>, we currently meet each sunday
      afternoon at Bookbar Cafe<a href="/location.html">(<i>click to see map here</i>)</a> to practice our
      English and have fun! 
    </div>
    <div class="screenographic">
      <%= image_tag("meetup_head.jpg") %>
      <div class="bigcount">
          <p class="count">This Sunday Afternoon</p>
          <p class="subtext">(click to see details)</p>
      </div>
    </div>
    <div class="signup">
      <a class="btn btn-large btn-info" href="/sign_up">Join Us by Signup Here</a>
    </div>
  </div>
<%end%>

<% if current_user %>  
	<% @user= User.find(current_user.id) %>
	<% if @user.name == "happypeter"%>
		<%= link_to 'Post a New Event', new_event_path %>
        <br \>
		<%= link_to 'Mail to All Members', "/new_mail" %>
	<%end%>
<%end%>


<div class="alert alert-success">
  Our Next Meetup:
</div>
<% @events.reverse.each do |event| %>
  <% if Time.now.utc < event.time %> 
    <div id="poster">
      <div class="event_time">
		<%= event.time.to_formatted_s(:time) %>
		<%= event.time.to_formatted_s(:weekday) %>
        (<%= event.time.to_formatted_s(:day_month_year) %>)
      </div>
      <div id="poster_title">
        <%= event.name %>
      </div>
      <div class="event_location">
        Where:
        <%= link_to event.location, "/location.html" %>
        <% if current_user %>  <%# only myself can edit%>
          <% @user= User.find(current_user.id) %>
          <% if @user.name == "happypeter"%>
            <div class="edit_button">
              <%= link_to 'Edit', edit_event_path(event) %> 
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="event_content">
        <%= raw event.content %>
      </div>
    </div>
  <% end %>
<% end %> 





<div class="row-fluid">
  <div class="span6">
      <div id="past_meetups">
        <div id="past_meetups_title">
          Past Meetups
        </div>
        <div id="past_meetups_body">
          <% @events.reverse.each do |event| %>
            <% if Time.now.utc > event.time %> <%# only show the events past %>
              <div class="event_name">
                 <a href="/events/<%= event.id %>">
                    <span class="event_time"><%= event.time.to_formatted_s(:day_month_year) %> >></span> <%= event.name %>
                 </a>
             </div>
            <% end %> 
          <% end %>
        </div>
      </div>



  </div>
  <div class="span6">
      <div id="update_index">
        <div class="tab_title"> 
          Recent Updates
        </div>
          <div class="comments">
              <% Comment.find(:all, :order => "id desc", :limit => 5).each do |comment| %>
                  <div class="comment">
                      <div class="comment_head">
                        <i class="icon-comment"></i> 
                          <span class="comment_guy">
                              <a href="/users/<%= User.find(comment.user_id).id %>">    
                                  <%= User.find(comment.user_id).name %>
                              </a>
                          </span>
                          <span class="comment_parent">
                              <% @parent=Event.find(comment.event_id) %>
                              on:
                              <a href="/events/<%= @parent.id %>">
                                  <%= @parent.name %>
                              </a>
                          </span>
                          <span class="comment_time">
                              <%= time_ago_in_words comment.created_at  %> ago
                          </span>
                      </div> <%# class="comment_head" %>
                      <div class="comment_body">
                          <%# need the "h" to escape <> %>
                          <%= markdown( h comment.content) %>
                      </div>
                  </div><%# .comment%>
              <% end %>
          </div><%# .comments %>
        </div>
      </div>
  </div>
</div>


