<% if not current_user %>  
  <%= render :partial => "stranger_teaser" %>
<%else%>
  <% @event=Event.last %>
  <% if !@event.nil? && Time.now < @event.time + 60*60*2 %> 
    <div class="meetup_notice">
      Our Next Meetup:
    </div>
    <%= render @event %>
      <div class="nice_comment">
      <%= simple_form_for(Comment.new(:event_id => @event.id, :user_id => current_user.id)) do |f| %>
        <%= f.hidden_field :event_id %>
        <%= f.hidden_field :user_id  %>
        <%= f.input :content, :required => false, :label => "Comment on this meetup", :col => 70 %>
        <div id="comment_btn">
          <%= f.button :submit, "Comment on this meetup", :class => "btn btn-success"  %>
        </div>
      <% end %>
      </div>
  <% else %>
    <div class="meetup_notice">
      new meetup planning, plz wait
    </div>
  <% end %> 
<%end%>


<div class="row-fluid">
  <div class="span6">
    <div id="past_meetups">
      <div id="past_meetups_title">
        Past Meetups
      </div>
      <div id="past_meetups_body">
        <% @recent_events= Event.find(:all, :order => "id desc", :limit => 4) %>
        <% @recent_events.each do |event| %>
          <% if Time.now > event.time + 60*60*12 %> <%# only show the events 24 hours later %>
            <%= render :partial => "meetup_namecard", :object => event%>
          <% end %> 
        <% end %>
        <%= link_to "Click to See All Events", "/all_events/" %>
      </div>
    </div>
  </div>
  <div class="span6">
      <div class="comments">
        <% @comments= Comment.find(:all, :order => "id desc", :limit => 7) %>
        <%=render @comments, :page_on => "event#index" %> <%# :page_on is defined by myself to decide which page is showing %>
      </div><%# .comments %>
      <%= link_to "Click to See All Updates", "/all_updates/" %>
    </div>
  </div>
</div>


