<p id="notice"><%= notice %></p>
<div class="event">
  <div class="eventname">
    <%= @event.name %>
  </div>

  <div class="eventlocation">
    <b>Location:</b>
    <%= @event.location %>
  </div>

  <div class="eventtime">
    <b>Time:</b>
    <%zone = ActiveSupport::TimeZone.new("Beijing")%>
    <%= @event.time.in_time_zone(zone).to_formatted_s(:long_ordinal) %>
  </div>
  <div class="eventcontent">
    <%= markdown(@event.content) %>
  </div>
  <% if current_user %>  <%# only myself can edit%>
    <% @user= User.find(current_user.id) %>
    <% if @user.name == "happypeter"%>
      <%= link_to 'Edit', edit_event_path(@event) %> 
    <%end%>
  <%end%>
</div>

<br \>
<% if current_user %>
  <%= form_for(Comment.new(:event_id => @event.id, :user_id => current_user.id)) do |f| %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id  %>
      <div class="field">
        <%= f.text_area :content, :size => "80x8" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
<% else %>
   <u><%= link_to "Log in", log_in_path(:return_to => request.url) %> </u> to Comment.
    <br \>
<% end %>

<p>
  <b>Comments:</b>
  <br \>
  <% @event.comments.reverse.each do |comment| %>
<div class="comment">
  <span class="commenter">
  by    <%= User.find(comment.user_id).name %>,
  </span>
  <span class="commenttime">
      <%zone = ActiveSupport::TimeZone.new("Beijing")%>
      <%= comment.created_at.in_time_zone(zone).to_formatted_s(:long_ordinal)  %>
  </span>
  <div class="commentbody">
    <%= markdown(comment.content) %>
  </div>
</div>
  <br \>
  <%end%>
</p>




