<div class="event">
  <div class="event_title"> 
    <%= @event.name %>
  </div>
  <div class="event_location">
    <%= @event.location %>
    <div class="edit_button">
      <% if current_user %>  <%# only myself can edit%>
        <% @user= User.find(current_user.id) %>
        <% if @user.name == "happypeter"%>
          <%= link_to 'Edit', edit_event_path(@event) %> 
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="event_content">
    <%= raw @event.content %>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
   placeholder
  </div>
  <div class="span8">
    <%# @event.comments.each do |comment| %>
    <% @comments = @event.comments %>
    <%= render @comments,  :page_on => "event#show" %>
    <%# end %>


    <% if current_user %>
      <div class="nice_comment">
      <%= simple_form_for(Comment.new(:event_id => @event.id, :user_id => current_user.id)) do |f| %>
        <%= f.hidden_field :event_id %>
        <%= f.hidden_field :user_id  %>
        <%= f.input :content, :required => false, :label => "Comment on this meetup" %>
        <div id="comment_btn">
          <%= f.button :submit, "Comment on this meetup", :class => "btn btn-success"  %>
        </div>
      <% end %>
      </div>
    <% else %>
        <u><%= link_to "Log in", log_in_path(:return_to => request.url) %> </u> to Comment.
        <br \>
    <% end %>
  </div>
  <div class="span2">
   placeholder
  </div>
</div>
