<div class="meetup_notice">
  Meetup # <%= @event.id %>
</div>
<%= render @event %>

<%= render :partial => "comments/editable_comment", :collection => @event.comments %>

<% if current_user %>
  <div class="nice_comment">
    <%= form_for(Comment.new(:event_id => @event.id, :user_id => current_user.id)) do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.hidden_field :user_id  %>
      <%= f.label "Comment on this meetup" %>
      <div class="error">
        You must write something to leave a comment
      </div>
      <%= f.text_area :content %>
      <%= f.submit "Comment", :class=>"btn btn-success", :id => "comment_btn" %>
    <% end %>
  </div>
<% else %>
  <%= link_to "Log in", login_path(:return_to => request.url) %> to Comment.
  <br \>
<% end %>


<script>
  $("#comment_btn").click(function() {
    if ($.trim($('#new_comment textarea').val()) == "") 
    {
        $('#new_comment .error').show();
        return false
    }
  });
</script>
