

<div class="event">
	<div class="event_title"> 
		<%= @event.name %>
		<span class="event_time">
		(<%= @event.time.to_formatted_s(:long_ordinal) %>)
		</span>
	</div>



  <div class="event_location">
    <%= @event.location %>
  </div>


  <div class="event_content">
    <%= markdown(@event.content) %>
  </div>
  <% if current_user %>  <%# only myself can edit%>
    <% @user= User.find(current_user.id) %>
    <% if @user.name == "happypeter"%>
      <%= link_to 'Edit', edit_event_path(@event) %> 
    <%end%>
  <%end%>
</div>

<br \>
<% if current_user %>
  <%= form_for(Comment.new(:event_id => @event.id, :user_id => current_user.id)) do |f| %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id  %>
      <div class="field">
        <%= f.text_area :content, :size => "70x8" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
<% else %>
	<u><%= link_to "Log in", log_in_path(:return_to => request.url) %> </u> to Comment.
	<br \>
<% end %>
<div class="comments">
	<%= nested_comments @event.comments.arrange(:order => :created_at) %>
</div>

