<p id="notice"><%= notice %></p>
<div class="event">
  <div class="event_name"> <%# event_title is a better name FIXME %>
    <%= @event.name %>
  </div>

  <div class="event_time">
    <b>Time:</b>
    <%zone = ActiveSupport::TimeZone.new("Beijing")%>
    <%= @event.time.in_time_zone(zone).to_formatted_s(:long_ordinal) %>
  </div>

  <div class="event_location">
    <b>Location:</b>
    <%= @event.location %>
  </div>


  <div class="event_content">
    <%= markdown(@event.content) %>
  </div>
  <% if current_user %>  <%# only myself can edit%>
    <% @user= User.find(current_user.id) %>
    <% if @user.name == "happypeter"%>
      <%= link_to 'Edit', edit_event_path(@event) %> 
    <%end%>
  <%end%>
</div>

<br \>
<% if current_user %>
  <%= form_for(Comment.new(:event_id => @event.id, :user_id => current_user.id)) do |f| %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id  %>
      <div class="field">
        <%= f.text_area :content, :size => "80x8" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
<% else %>
	<u><%= link_to "Log in", log_in_path(:return_to => request.url) %> </u> to Comment.
	<br \>
<% end %>
<div class="comments">
	<%= nested_comments @event.comments.arrange(:order => :created_at) %>
</div>

