<%= div_for post do %>
      <%= link_to post.title, post_path(post), :class => "title" %>
      <div class="who_when"><%= link_to post.user.name, post.user %> on <%= post.created_at.to_date %></div>
    <div class="post_body">
      <%= markdown( post.content) %>
    </div>
<% end %><%# .comment%>


