<div class="post">
  <h2>
    <%= link_to  @post.title, post_path(@post), :class => "title" %>
    <small></small>
  </h2>
  <div class="meta">
    <div class="who_when">
      <span class="author"><%= link_to @post.user.name, user_path(@post.user) %></span>
      <span class="published"><%= time_tag @post.created_at.to_date %></span>
    </div>
  </div>
  <div class="entry-content"> 
      <%= markdown @post.content %>
      <ul class="actions">
        <li><%= link_to "Edit", edit_post_path(@post), :remote => true, :class => "btn" %></li>
        <li><%= link_to "Delete", @post, :confirm => "Are you sure you want to delete this post?", :method => :delete, :class => "btn" %></li>
      </ul>
  </div>
</div>

<%= render :partial => "postcomments/editable_postcomment", :collection => @post.postcomments %>

<% if current_user %>
  <div class="nice_comment">
    <%= form_for(Postcomment.new(:post_id => @post.id, :user_id => current_user.id)) do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.hidden_field :user_id  %>
      <%= f.label "Comment on this meetup" %>
      <a  class="formatting_tips" data-toggle="modal" href="#markdown_cheatsheet" >Formatting Tips</a>
      <div class="error">
        You must write something to leave a comment
      </div>
      <%= f.text_area :content %>
      <%= f.submit "Comment", :class=>"btn btn-success", :id => "comment_btn" %>
    <% end %>
  </div>
<% else %>
  <%= link_to "Log in", login_path(:return_to => request.url) %> to Comment.
  <br \>
<% end %>



<%= render "comments/markdown_cheatsheet" %>
<script>
  $("#comment_btn").click(function() {
    if ($.trim($('textarea#postcomment_content').val()) == "") 
    {
        $('.error').show();
        return false
    }
  });

  $('#markdown_cheatsheet').hide()
  $('#markdown_cheatsheet').modal({
    show: false
  })

  $(".actions").hide()
  $(".entry-content").mouseover(function() {
     $(this).find("ul.actions").show();
   }).mouseout(function() {
     $("ul.actions").hide();
     });
  $(".postcomment").mouseover(function() {
     $(this).find("ul.actions").show();
   }).mouseout(function() {
     $("ul.actions").hide();
     });
</script>
