<div class="post">
  <p id="notice"><%= notice %></p>
  <h2>
    <%= link_to  @post.title, post_path(@post), :class => "title" %>
    <small></small>
  </h2>
  <div class="meta">
    <div class="who_when">
      <span class="author"><%= link_to @post.user.name, user_path(@post.user) %></span>
      <span class="published"><%= time_tag @post.created_at.to_date %></span>
    </div>
  </div>
  <div class="entry-content"> 
      <%= markdown @post.content %>
      <ul class="actions">
        <li><%= link_to "Edit", edit_post_path(@post), :class => "btn" %></li>
        <li><%= link_to "Delete", @post, :confirm => "Are you sure you want to delete this comment?", :method => :delete, :class => "btn" %></li>
      </ul>
  <div>
</div>

<script>
$(".actions").hide()
$(".entry-content").mouseover(function() {
   $(this).find("ul.actions").show();
 }).mouseout(function() {
   $("ul.actions").hide();
   });
</script>
