<!DOCTYPE html>
<html>
<head>
  <title>English Corner</title>
  <link rel="shortcut icon" href="/assets/twit.png"/>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>	



<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h3><a class="brand" href="/">happyec</a></h3>
            <ul class="nav">

            </ul>
            <ul class="nav pull-right">
                  <% if current_user %>  
                    <% @user= User.find(current_user.id) %>
                    <li><%= link_to current_user.name, user_path(@user) %> </li>
                    <li><%= link_to "Log out", log_out_path %></li>
                  <% else %>  
                    <li><%= link_to "Log in", log_in_path %></li>
                  <% end %>  
            </ul>
        </div>
    </div>
</div>
<div id="container">

<%= yield %>

</div><%# id="container" %>

<div class="footer">
  <div class="container">
    <div id="blacktocat"></div>
    <ul class="footer_nav">
      <h4>HappyEc</h4>
      <li><a href="/about">About</a></li>
      <li><a href="/users">People</a></li>
    </ul>
    <ul class="footer_nav">
           <h4>Interesting Sites</h4>
      <li><a href="http://www.ted.com">TED</a></li>
    </ul>
  </div>
</div>
</body>
</html>
